body {
    font-family: sans-serif;
    display: block;
    justify-content: space-between;
    background-color: lightskyblue;
}
h1, h2, h3, h4{
    text-align: center;
}
p{
    font-size:20px;
    text-align: center;
}
main{
    background-color: rgb(133, 133, 253);
    width: 800px;
}
footer{
    background-color: rgb(89, 89, 235);
    border: 5px solid rgb(176, 176, 255);
    border-radius: 10px;
    width: 800px;
}
header{
    background-color: rgb(184, 125, 239);
}
h4, h5{
    text-align: center;
}
h3{
    color: lightskyblue;
}
.background{
    border-bottom:3px solid lightskyblue;
}
img{
    border: 2px solid rgb(133, 133, 253);
    border-radius: 10px;
    text-align: center;
}
.SBSD{
    width: 1600px;
}
.comeback{
    font-size: 20px;
}

